* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, nav {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container_large {
    max-width: 1200px;
    margin: 0 auto;
}

.container_medium {
    max-width: 900px;
    margin: 0 auto;
}


.flex_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar_left {
    display: flex;
    gap: 20px;
}

.navbar_right {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #005BFF;
    color: white;
}

.logo {
    font-weight: 700;
}