* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, nav {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container_large {
    max-width: 1200px;
    margin: 0 auto;
}

.container_medium {
    max-width: 900px;
    margin: 0 auto;
}

.container_home_page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.flex_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar_left {
    display: flex;
    gap: 20px;
}

.navbar_right {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #005BFF;
    color: white;
}

.logo {
    font-weight: 700;
}

.title {
    font-size: 40px;
}

.bg_header {
    background-color: #B4D0E7;
    padding: 20px;
}

.fontawesome {
   font-size: 30px;
}

.flex_home_page {
    display: flex;
}

.home_photo {
    width: 350px;
}