* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, nav {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container_large {
    width: 100%;
    margin: 0 auto;
}

.container_header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.container_table {
    max-width: 850px;
    margin: 0 auto;
}

.col_4 {
	width: calc(4 * 100% / 12);
}

.col_8 {
	width: calc(8 * 100% / 12);
}

.col_9 {
    width: calc(9*100% / 12);
}

.col_3 {
    width: calc(3*100% /12);
}

.flex_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}

.navbar_left {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 10px;
}

.navbar_right {
    display: flex;
    gap: 20px;
    padding-right: 10px;
    align-items: center;
}

.button {
    background-color: #005BFF;
    color: white;
    padding: 10px;
    border: none;
}

.button_white {
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 30px;
}

.logo {
    width: 100px;
    display: block;
}

.title {
    font-size: 40px;
    padding-top: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}

.title_medium_section {
    font-size: 35px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 25px;
}

.intro {
    width: 350px;
    line-height: 26px;
    margin-bottom: 30px;
}

.annulla {
    margin-top: 30px;
}

.bg_header {
    background-color: #B4D0E7;
    padding: 20px;
}

.fontawesome {
   font-size: 30px;
   margin-top: auto;
}

.flex_home_page {
    display: flex;
}

.home_photo {
   width: 100%;
   padding-left: 20px;
}

.fatturazione_flex {
    display: flex;
    padding-top: 20px;
    gap: 5px;
    margin-bottom: 35px;
}

#annuale {
    margin-left: 25px;
}

.card {
    line-height: 35px;
    border: 1px solid black;
    padding: 0 15px;
    height:840px;
    width: 100%;
}

.flex_card {
    display: flex;
    align-items:flex-start;
}

.user {
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
}

.button_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.central_team {
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    border-top:  1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.enterprise_margin {
    margin-bottom: 15px;
}

.margin_price {
    margin-bottom: 30px;
}

.border_card {
    border: 1px solid black;
    margin-bottom: 100px;
    padding: 20px;
}

.flex_card_lg {
    display: flex;
    justify-content: space-between;
}

.flex_partner {
    display: flex;
}

.partner_photo {
    width: 100%;
}

.partner_margin {
    margin-left: 30px;
}

.margin_bottom_partner {
    margin-bottom: 100px;
}

.business_title {
    margin-bottom: 30px;
}

.business_box {
    width: 280px;
    padding: 8px;
    margin-bottom: 40px;
}

.business_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.business_img {
    width: 100%;
}

.business_margin {
    margin-bottom: 35px;
}

.client_margin {
    padding-bottom:  100px;
}

.partner_flex {
    display: flex;
    flex-wrap: wrap;
}

.drobpox_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button_free {
    background-color: white;
    color:  black;
    padding: 5px 15px;
    border: none;
}

.bg_business {
    background-color: #B4D0E7;
    padding: 60px;
}

.brown_title {
    color: #600528;
}

.ask_box {
    margin: 100px 0;
}

.ask_margin_bottom {
    margin-bottom: 35px;
}

.ask_bottom {
    border-bottom: 1px solid grey;
    padding: 25px 0;
}

.ask {
    padding: 25px 0;
    border-top: 1px solid grey;
}

.ask_margin {
    border-bottom: 1px solid grey;    
    padding: 25px 0;
}

.ask_bottom_top {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 25px 0;
}

.arrow {
    float: right;
    margin-right: 30px;
}

.footer_flex {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bg_footer {
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 35px;
    line-height: 30px;
}